

header{

    background-color: dimgrey;
    color: ghostwhite;
    padding-top: 10px;
    padding-bottom: 30px;
}
#connexion, #accueil{
    text-decoration:none;
    color : yellow;
    padding-right : 20px;
}

.entete{
    float:right;
    padding-bottom: 20px;
}