

header{

    background-color: black;
    color: ghostwhite;
    padding-top: 10px;
    padding-bottom: 30px;



}
a:link{
    text-decoration:none;
    color : yellow;
    padding-right : 20px;
}
#accueil{
    color:yellow;
}
.entete{
    float:right;

    padding-bottom: 20px;
}

