body{
    margin:0;
   padding:0;
   font-family: Verdana, sans-serif;
   
   
 }

#baniere{
    padding-top: 0%;
    position:absolute;
    top:30%;
    left:40%;
    background-color:dimgrey;
    color: gold;
    border-radius: 20px;
    text-align: center;
}

#baniere_gauche{
    width:auto;
    float: left;
    text-align:center;
}

#baniere_droite{
    width:auto;
    float: left;
    text-align:left;
}
#btnValider{
    position: relative;
    float: left;
}

input{

    border-top:none;
    border-right:none;
    border-left:none;
    color:gold;
    border-bottom: thin solid gold;
    background-color: dimgrey;
    
}
input[type='submit'], input[type='button']{
    border: thin solid gold;

    
}
input[type='text']{
width : 140px;
}
input[type='submit']:hover, input[type='button']:hover{
    background-color: gold;
    color: dimgrey;
    
    
}
