body{
    margin:0;
    padding:0;
    font-family: Verdana, sans-serif;
    background-image: url("fondRecette.png");
    background-size:cover;
}

h2{ 
    text-align: center;
    background-color: gold;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px; 
}

label{   
	display: block;
	width: 150px;
    float: left;
    color: black;
    margin-left: 13%;
    margin-right: 13%;
}

form input, textarea{
    border:medium solid gray;
    background-color:white;
    width: 33%;
}

#typeSelect{
    border:medium solid gray;
    background-color:white;
    width: 33%;
}
#qI, #nI{
    width: 16%;
}

.boutons{
    margin-left: 150px;
    font-size: 20px; 
}

input[type='button']:hover, input[type='submit']:hover {
    background-color:lightgrey;
}

#baniere{
    width:50%;
    margin-top: 80px;
    margin-left: 25%;
    background-color: rgba(255,255,255, 0.8);
    border:0.3em solid gray;
    text-align: center;
}